.login {
  /*
          background: url('https://tailwindadmin.netlify.app/dist/images/login-new.jpeg');
        */
  /* background: url("http://bit.ly/2gPLxZ4"); */
  background: url("https://images.unsplash.com/photo-1540569876033-6e5d046a1d77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
